.MessageList {
    max-width: 1200px;
    margin: 100px auto 30px;
}

.MessageList_message_text {
    color: #555 !important;
    font-size: 14px !important;
}



.MessageList_message{
    display: flex;
    flex-direction: row;
}


.MessageList_message_author {
    color: #000;
    font-size: 14px;
    font-weight:700;
}


.MessageList_message_date {
    padding-left: 20px;
    color: #999;
    font-weight:300;
    font-size: 14px;
}
