.AuctionList {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.AuctionList_item {
    margin: 15px 0;
    width: 380px;
}

.AuctionList_item_header {
    background-color: #333;
}

.AuctionList_meta {
    height: 80px;
    color: #fafafa;
    padding: 20px;
}

.AuctionList_meta_row {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.AuctionList_meta_title {
}

.AuctionList_meta_expiration_date {
    text-align: right;
    color: #cfcfcf;
}
