.ChatBox {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;

}

.ChatBox_message {
    width: 100%;
    border-color: #D0D0D0;
    resize: none;
    border-radius: 3px;
    min-height: 50px;
    color: #555 !important;
    font-size: 14px !important;

    &:focus {
        outline: auto 0px !important;
    }
}
